/* Story container start sizing */
#start-screen, #story-container {
    padding: 15px;
    max-width: 600px;
    width: 100%;
    background-color: #2e4634;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Buttons font, size, and color */
button {
    padding: 15px;
    margin-top: 10px;
    color: black;
    background-color: #d4af37;
    font-size: 16px;
    border: none;
    cursor: pointer; 
    font-family: 'Silkscreen', sans-serif;
}

/* Button hover effect */
button:hover {
    background-color: #b38b2d;
}

/* User input box styling */
input[type="text"] {
    width: 90%;
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d4af37;
    border-radius: 4px;
    background-color: #3d5a45;
    color: #eae7dc;
    font-family: 'Silkscreen', sans-serif;
}

/* Main heading, font, color, and size */
h1 {
    color: #d4af37;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Silkscreen', sans-serif;
}

/* Main contents, centers and sets main font and font color */
body {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1b3b28;
    background-image: url('images/hedge.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #eae7dc;
    font-family: 'Silkscreen', sans-serif;
    transition: background 0.75s ease-in-out;
}

audio {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
}

#audio-controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#audioVolumeSlider {
    width: 100px;
    background: #ccc;
}

#help-info {
    display: none; /* Initially hidden before clicked */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#help-info h2, #help-info h3 {
    color: #00eeff;
}

.hidden {
    display: none;
}
